<configuration>  
    <system.webServer>  
        <iisnode loggingEnabled="true" />
        <handlers>  
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />  
        </handlers>  
  
        <rewrite>  
            <rules>  
                <rule name="mysite">  
                    <match url="/*" />  
                    <action type="Rewrite" url="app.js" />  
                </rule>  
            </rules>  
        </rewrite>  
  
        <defaultDocument>  
            <files>  
                <add value="app.js" />  
            </files>  
        </defaultDocument>  
  
    </system.webServer>  
</configuration>  